.members-filter__row {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.members-filter__select {
  width: 50%;
}

.members-filter__btn-container {
  margin-bottom: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.members-pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin: 0 auto;
}

.members-pagination a {
  font-size: 18px;
  margin: 0 5px;
}

.members-pagination a.active {
  color: black;
  text-decoration: none;
}

.members-pagination a.first {
  margin-right: 20px;
}

.members-pagination a.last {
  margin-left: 20px;
}

.merging-page, .change-login-page {
  padding: 30px 0;
}

.merging-page label {
  display: inline-block;
  width: 150px;
}

.merging-page button {
  display: inline-block;
  margin-top: 20px;
}